.tab__btn__active {
  color: #01d293 !important;
}
.Portfolio__Grid{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(330px,1fr));
    justify-content: space-between
}

@media only screen and (max-width: 768px) {
  .tab__btns {
    text-align: left !important;
    margin-top: -20px !important;
    margin-bottom: 30px;
  }
}
